<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.6" package="de.dhoffmann.mono.adfcnewsapp" android:versionCode="7">
	<uses-sdk android:minSdkVersion="8" />
	<application android:label="ADFC-News" android:icon="@drawable/Icon">
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>